@page "/projectdetails/{ProjectId}"
@inherits ProjectDetailsBase
    <!-- page title -->
<section class="page-title-section overlay" data-background="@Project.ProjectLogo">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ul class="list-inline custom-breadcrumb" style="text-align: center;">
                    <li class="list-inline-item"><a class="h2 text-primary font-secondary text-center" style="color: #fff !important; font-size: 45px;">YOUR PROJECTS</a></li>
                    <li class="list-inline-item text-white h3 font-secondary nasted">@Project.ProjectName</li>
                </ul>
                <p class="text-center" style="color: #d6d6e6 !important; font-size: 18px; margin-top: 15px;">Project's Details</p>
            </div>
        </div>
    </div>
</section>
<!-- /page title -->
<!-- section -->
<section class="section-sm">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-4">
                <!-- course thumb -->
                <!-- <img src="../../../assets/images/courses/course-single.jpg" class="img-fluid w-100" alt="project's image"> -->
            </div>
        </div>
        <!-- course info -->
        <div class="row align-items-center mb-5">
            <div class="col-xl-3 order-1 col-sm-6 mb-4 mb-xl-0">
                <h3>IS</h3>
            </div>
            <div class="col-xl-6 order-sm-3 order-xl-2 col-12 order-2">
                <ul class="list-inline text-xl-center">
                    <li class="list-inline-item mr-4 mb-3 mb-sm-0">
                        <div class="d-flex align-items-center">
                            <i class="ti-face-smile text-primary icon-md mr-2"></i>
                            <div class="text-left">
                                <h6 class="mb-0">MEMBERS</h6>
                                <p class="mb-0">@Project.Developer.Count()</p>
                            </div>
                        </div>
                    </li>
                    <li class="list-inline-item mr-4 mb-3 mb-sm-0">
                        <div class="d-flex align-items-center">
                            <i class="ti-alarm-clock text-primary icon-md mr-2"></i>
                            <div class="text-left">
                                <h6 class="mb-0">DURATION</h6>
                                <p class="mb-0">3 Weeks</p>
                            </div>
                        </div>
                    </li>
                    <li class="list-inline-item mr-4 mb-3 mb-sm-0">
                        <div class="d-flex align-items-center">
                            <i class="ti-wand text-primary icon-md mr-2"></i>
                            <div class="text-left">
                                <h6 class="mb-0">TOOLS</h6>
                                <p class="mb-0">GUI Interface</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-xl-3 text-sm-right text-left order-sm-2 order-3 order-xl-3 col-sm-6 mb-4 mb-xl-0">
                <a @onclick="async ()=> { await ProjectService.DownloadProject(ProjectId); }" class="btn btn-primary"> Download Now</a>
            </div>
            <!-- border -->
            <div class="col-12 mt-4 order-4">
                <div class="border-bottom border-primary"></div>
            </div>
        </div>
        <!-- project details -->

    </div>
</section>
<!-- /section -->



@if (Project.Id != null && Project.Framework != null && (Project.Framework.ToDos.Count() > 0
|| Project.Framework.InProgress.Count() > 0 || Project.Framework.Dones.Count() > 0))
{

    <FrameworkDisplay FrameworkParm="@Project.Framework" ProjectId="@Project.Id">

    </FrameworkDisplay>

    <!-- start supervisisor -->
    <h6 style=" font-size: 40px; font-weight: bolder; font-style: italic; font-family: Arial, Helvetica, sans-serif;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Supervisior</h6>
    <div style="margin-left: 90px; font-size: 30px;">
        @if (@Project.SuperVisior.Name == "No Doctor yet.")
        {
            <a class="btn btn-primary" href="@($"/adddoctor/{ProjectId}")">Assign Doctor To The Project</a>
        }
        else
        {
            @Project.SuperVisior.Name
        }
    </div>
    <!-- /supervisisor -->
    <!-- start evaluation -->
    <div>
        <h6 style=" font-size: 40px; font-weight: bolder; font-style: italic; font-family: Arial, Helvetica, sans-serif;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Evaluation<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></h6>
        <div style="margin-left: 90px; font-size: 30px;">
            @Project.Evalution
        </div>
    </div>
    <!-- /evaluation -->
    <br>
    @if (Project.Framework.ToDos.Count() == 0 && Project.Framework.Dones.Count() == 0 && Project.Framework.InProgress.Count() == 0)
    {
        <a class="btn btn-primary" style="margin:auto;width:auto" href="@($"/addtodo/{ProjectId}")">add todo</a>
    }


}
@if (Project.Framework == null)
{
    <a class="btn btn-primary" @onclick="CreateFrameworkAsync"> Create Framework</a>
}
else
{
    @if (Project.Framework.ToDos.Count() == 0 && Project.Framework.Dones.Count() == 0 && Project.Framework.InProgress.Count() == 0)
    {
        <a class="btn btn-primary" style="margin:auto;width:auto" href="@($"/addtodo/{ProjectId}")">add todo</a>
    }
}


<!-- related course -->
<section class="section pt-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="section-title">Other Projects</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <!-- course item -->
            @if (Projects != null)
            {
                @foreach (var project in Projects)
                {
                    <div class="col-lg-4 col-sm-6 mb-5">
                        <div class="card p-0 border-primary rounded-0 hover-shadow" style="width: 300px;">
                            <img class="card-img-top rounded-0" src="images/courses/course-1.jpg" alt="course thumb">
                            <div class="card-body">
                                <a href="project-single.html">
                                    <h4 class="card-title">@project.ProjectName</h4>
                                </a>
                                <a href="@($"/projectdetails/{project.Id}")" class="btn btn-primary btn-sm">Dicover</a>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <h1>Loading</h1>
            }
            <!-- /course item -->
        </div>
    </div>
</section>
<!-- /related course -->